<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omnisheba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoctorsHospitalActivity"></activity>
        <activity android:name=".LogoutTestCenterActivity" />
        <activity android:name=".UpdateTestCenterActivity" />
        <activity android:name=".ProfileTestCenterActivity" />
        <activity android:name=".LogoutHospitalActivity" />
        <activity android:name=".UpdateHospitalActivity" />
        <activity android:name=".ProfileHospitalActivity" />
        <activity android:name=".LogoutDoctorActivity" />
        <activity android:name=".AnswerDoctorActivity" />
        <activity android:name=".ProfileDoctorActivity" />
        <activity android:name=".UpdateDoctorActivity" />
        <activity android:name=".TestMainActivity" />
        <activity android:name=".signup_testcenter" />
        <activity android:name=".signup_hospital" />
        <activity android:name=".signup_mss" />
        <activity android:name=".signup_doctor" />
        <activity android:name=".login" />
        <activity android:name=".DoctorMainActivity" />
        <activity android:name=".HospitalMainActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>